#Lab 1

The **aims** of this lab are:

*   Allow you practice slicing and analysing data with Pandas
*   Introduce you to the MovieLens dataset
*   Demonstrate use of Pandas to perform non-personalised recommendations

This lab makes the following **assumptions**:

 * You have experience before in using Pandas, e.g. from Text-as-Data or from Programming and Systems Development (H).

This lab is unassessed, but please complete the [Moodle feedback quiz](https://moodle.gla.ac.uk/mod/feedback/view.php?id=1441777) once you have finished your attempt at this lab.

In [0]:
#Standard setup
import pandas as pd
import numpy as np

#Part 1 - MovieLens Exploration using Pandas

This lab will be using the [Movielens](https://grouplens.org/datasets/movielens/) data. There is a large dataset with 20M ratings. We'll focus on the small one.  

**Hint** : If you are using Colab, it might be good if you have this open on your own machine. The CSV files are small enough to be searched using your favourite editor.

In [2]:
!curl -o ml-latest-small.zip http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
!unzip -o ml-latest-small.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  955k  100  955k    0     0   710k      0  0:00:01  0:00:01 --:--:--  709k
Archive:  ml-latest-small.zip
   creating: ml-latest-small/
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/tags.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/movies.csv

Let's look into the files using Pandas:

In [0]:

ratings_df = pd.read_csv("ml-latest-small/ratings.csv")
movies_df = pd.read_csv("ml-latest-small/movies.csv")

In [4]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [5]:
movies_df

      movieId  ...                                       genres
0           1  ...  Adventure|Animation|Children|Comedy|Fantasy
1           2  ...                   Adventure|Children|Fantasy
2           3  ...                               Comedy|Romance
3           4  ...                         Comedy|Drama|Romance
4           5  ...                                       Comedy
...       ...  ...                                          ...
9737   193581  ...              Action|Animation|Comedy|Fantasy
9738   193583  ...                     Animation|Comedy|Fantasy
9739   193585  ...                                        Drama
9740   193587  ...                             Action|Animation
9741   193609  ...                                       Comedy

[9742 rows x 3 columns]

Ok, so we can see users (identified by userId) are rating various movies (cf. movieId).

We can slice and dice the dataframes, e.g.

 * project a single column

In [6]:
movies_df["title"]

0                                Toy Story (1995)
1                                  Jumanji (1995)
2                         Grumpier Old Men (1995)
3                        Waiting to Exhale (1995)
4              Father of the Bride Part II (1995)
                          ...
9737    Black Butler: Book of the Atlantic (2017)
9738                 No Game No Life: Zero (2017)
9739                                 Flint (2017)
9740          Bungo Stray Dogs: Dead Apple (2018)
9741          Andrew Dice Clay: Dice Rules (1991)
Name: title, Length: 9742, dtype: object

 - project multiple columns

In [7]:
movies_df[["movieId", "title"]]

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

 - Select rows based on one or more conditions

In [8]:
ratings_df[(ratings_df["userId"] == 500) & (ratings_df["rating"] == 1)]

       userId  movieId  rating   timestamp
79908     500       11     1.0  1005528017
79909     500       39     1.0  1005527926
79910     500      101     1.0  1005527980
79915     500      231     1.0  1005528039
79923     500      449     1.0  1005528017
79924     500      471     1.0  1005528017
79926     500      539     1.0  1005527980
79931     500      597     1.0  1005527980
79934     500      745     1.0  1005528205
79939     500     1188     1.0  1005528065
79951     500     1824     1.0  1005527926
79955     500     1914     1.0  1005527980
79958     500     1993     1.0  1005527364
79971     500     2671     1.0  1005528078
79980     500     3083     1.0  1005528017
79986     500     3466     1.0  1005527926
79992     500     4873     1.0  1005528205



Lets practice a bit more with Pandas. You can also refer to the [Pandas Dataframe API documentation.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

Write code to answer the following questions:

**Exercise**

**Q1.** How many users are there in this dataset?

**Q2.** What is the average number of ratings per-user? Hint: You *could* use groupby() or describe(). Try both.

**Q3.** What is the average rating across all users?

In [9]:
print("Q1", len(ratings_df.groupby('userId')))

mean = ratings_df.groupby('userId').mean()
print("Q2", mean['rating'])

mean_rating = mean['rating'].mean()
print("Q3", mean_rating)

Q1 610
Q2 userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Name: rating, Length: 610, dtype: float64
Q3 3.657222337747402

Lets try something else. We can see what movies a given user has rated by "merging" the two dataframes - this equates to a JOIN in SQL. Lets do this for userId 556.

In [10]:
pd.merge(
    ratings_df[ratings_df["userId"]==556], 
    movies_df, 
    on=["movieId"]).sort_values(by="rating", ascending=False)

    userId  ...                                       genres
0      556  ...  Adventure|Animation|Children|Comedy|Musical
2      556  ...                   Adventure|Children|Fantasy
27     556  ...                      Action|Adventure|Sci-Fi
21     556  ...    Adventure|Animation|Children|Fantasy|IMAX
3      556  ...                            Adventure|Fantasy
4      556  ...                            Adventure|Fantasy
23     556  ...  Action|Adventure|Drama|Fantasy|Mystery|IMAX
13     556  ...                     Action|Adventure|Fantasy
18     556  ...                 Action|Adventure|Sci-Fi|IMAX
30     556  ...                                      Fantasy
29     556  ...                     Action|Adventure|Fantasy
28     556  ...              Children|Comedy|Fantasy|Musical
26     556  ...                       Adventure|Fantasy|IMAX
24     556  ...                 Action|Adventure|Sci-Fi|IMAX
22     556  ...        Action|Adventure|Fantasy|Romance|IMAX
20     556  ...                       Adventure|Fantasy|IMAX
31     556  ...       Action|Adventure|Drama|Sci-Fi|Thriller
1      556  ...               Fantasy|Horror|Mystery|Romance
15     556  ...                   Adventure|Children|Fantasy
14     556  ...                 Adventure|Drama|Fantasy|IMAX
12     556  ...                       Drama|Fantasy|Thriller
10     556  ...              Adventure|Fantasy|Thriller|IMAX
9      556  ...                       Adventure|Fantasy|IMAX
8      556  ...               Action|Adventure|Drama|Fantasy
7      556  ...                        Action|Fantasy|Horror
6      556  ...              Action|Adventure|Comedy|Fantasy
5      556  ...                            Adventure|Fantasy
17     556  ...       Adventure|Fantasy|Mystery|Romance|IMAX
19     556  ...                            Adventure|Fantasy
11     556  ...                   Adventure|Children|Fantasy
25     556  ...                       Action|Adventure|Drama
16     556  ...               Drama|Fantasy|Romance|Thriller

[32 rows x 6 columns]

In [11]:
pd.merge(
    ratings_df, 
    movies_df, 
    on=["movieId"]).sort_values(by="userId", ascending=True)

        userId  ...                                       genres
0            1  ...  Adventure|Animation|Children|Comedy|Fantasy
12117        1  ...                        Crime|Horror|Thriller
12126        1  ...                                 Comedy|Drama
12182        1  ...              Action|Adventure|Comedy|Romance
776          1  ...                Action|Comedy|Horror|Thriller
...        ...  ...                                          ...
84152      610  ...          Comedy|Drama|Horror|Sci-Fi|Thriller
26937      610  ...                                Action|Sci-Fi
69808      610  ...                   Animation|Fantasy|Thriller
69820      610  ...                                 Comedy|Drama
100835     610  ...                                       Horror

[100836 rows x 6 columns]

This user is pretty into adventure/fantasies. 

NB: If the columns we are joining on dont have the same name, we can specify `left_on` and `right_on` attributes. See also the  [pd.merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) documentation.

## Part 2 - Non personalised Recomendations

**Exercise**

**Q4.** What was the name of one of the most popular movies (i.e. provide the name of one of moveis that has the highest average ratings)?

Hint: Try a GroupBy. Once you have a Series with columns [movieId, meanRating], used idxmax() to find the row with the highest average mean. You can use loc to access rows, by their "index". How many ratings does this movie have?

In [12]:
mean_rating = ratings_df.groupby('movieId').mean()
mean_rating = mean_rating.drop(['userId', 'timestamp'], axis=1)
ratings_df.loc[mean_rating.idxmax()]

    userId  movieId  rating  timestamp
53       1     1029     5.0  964982855


Ok, but do we think this will make a good recommendations?

**Q5.** How many ratings does this popular movie have?

In [13]:
len(ratings_df[ratings_df['movieId']==1029])

35

### Associations

I think we can do better than recommending a highly rated but unpopular movie.

Lets take all of the positive ratings (4 or 5), and find the most popular pairs of movies that users have watched.

There is a lot going on there, so please take the time to break it down to understand what it does.

In [14]:


positives=ratings_df[ratings_df["rating"]>=4]

#join positives with itself on userId to get all pairs of movies watched by a given user.

pairs=pd.merge(positives, positives, on=["userId"])

#we only want A->B, not B->A. Use the timestamps to restrict the selected pairs
sequences=pairs[pairs["timestamp_x"] < pairs["timestamp_y"]] 

#lets count the frequency of each pair of movies.
paircounts=sequences[["movieId_x", "movieId_y", "userId"]].groupby(["movieId_x", "movieId_y"]).count()

#sort by the most popular pairs.
pairswithcounts = paircounts.reset_index().rename(columns={"userId" : "count"}).sort_values(['count'], ascending=False)

#display the top most frequent pairs
pairswithcounts.head()

        movieId_x  movieId_y  count
193808        318        356    104
176913        296        593     92
176624        296         47     91
152788        260       1196     91
193892        318        527     90

In [44]:
pairswithcounts[(pairswithcounts['movieId_x']==3567) & (pairswithcounts['movieId_y']==3719)]

         movieId_x  movieId_y  count
1863975       3567       3719      1

**Q6.**  Display the titles of the most popular movie pairs from `pairswithcounts.head()`?

In [16]:
movieId_title = movies_df[['movieId', 'title']]
movieId_title.columns = ['movieId_x','title_x']
head = pairswithcounts.head()
head = pd.merge(head, movieId_title, on='movieId_x')
movieId_title.columns = ['movieId_y','title_y']
head = pd.merge(head, movieId_title, on='movieId_y')
head

   movieId_x  ...                                            title_y
0        318  ...                                Forrest Gump (1994)
1        318  ...                            Schindler's List (1993)
2        296  ...                   Silence of the Lambs, The (1991)
3        296  ...                        Seven (a.k.a. Se7en) (1995)
4        260  ...  Star Wars: Episode V - The Empire Strikes Back...

[5 rows x 5 columns]

**Q7.** Calculate Lift for all pairs in `paircounts` 

Hint: You will need to join toppairs with a dataframe containing rating counts of individual movies. A calculated column will be needed. See https://stackoverflow.com/a/12377083/9989050 for hints on how to achieve that.

Finally, my solution had duplicated columns. I used this trick https://stackoverflow.com/a/40435354/9989050 to get rid of them.

In [0]:
tmp = pd.merge(paircounts, pairswithcounts, on=["movieId_x", "movieId_y"])
tmp = tmp.loc[:,~tmp.columns.duplicated()]
movie_counts = {}
for id in movies_df['movieId']:
  movie_counts[id] = len(tmp[(tmp['movieId_x']==id) | (tmp['movieId_y']==id)])

In [0]:
tmp['lift'] = tmp['count']/len(tmp) / tmp.apply(
    lambda row: movie_counts[row['movieId_x']]/len(tmp)*movie_counts[row['movieId_y']]/len(tmp), axis=1)

In [46]:
tmp

         movieId_x  movieId_y  ...                  title_x                 title_y
0                1          2  ...         Toy Story (1995)          Jumanji (1995)
1                3          2  ...  Grumpier Old Men (1995)          Jumanji (1995)
2                6          2  ...              Heat (1995)          Jumanji (1995)
3                7          2  ...           Sabrina (1995)          Jumanji (1995)
4               10          2  ...         GoldenEye (1995)          Jumanji (1995)
...            ...        ...  ...                      ...                     ...
3533031     114265     124851  ...           Laggies (2014)         Delirium (2014)
3533032     130490     124851  ...         Insurgent (2015)         Delirium (2014)
3533033     114265     113829  ...           Laggies (2014)  One I Love, The (2014)
3533034     130490     113829  ...         Insurgent (2015)  One I Love, The (2014)
3533035     130490     114265  ...         Insurgent (2015)          Laggies (2014)

[3533036 rows x 7 columns]

In [40]:
movieId_title = movies_df[['movieId', 'title']]
movieId_title.columns = ['movieId_x','title_x']
tmp = pd.merge(tmp, movieId_title, on='movieId_x')
movieId_title.columns = ['movieId_y','title_y']
tmp = pd.merge(tmp, movieId_title, on='movieId_y')
tmp

         movieId_x  movieId_y  ...                  title_x                 title_y
0                1          2  ...         Toy Story (1995)          Jumanji (1995)
1                3          2  ...  Grumpier Old Men (1995)          Jumanji (1995)
2                6          2  ...              Heat (1995)          Jumanji (1995)
3                7          2  ...           Sabrina (1995)          Jumanji (1995)
4               10          2  ...         GoldenEye (1995)          Jumanji (1995)
...            ...        ...  ...                      ...                     ...
3533031     114265     124851  ...           Laggies (2014)         Delirium (2014)
3533032     130490     124851  ...         Insurgent (2015)         Delirium (2014)
3533033     114265     113829  ...           Laggies (2014)  One I Love, The (2014)
3533034     130490     113829  ...         Insurgent (2015)  One I Love, The (2014)
3533035     130490     114265  ...         Insurgent (2015)          Laggies (2014)

[3533036 rows x 7 columns]

In [43]:
tmp.iloc[tmp['lift'].idxmax()]

movieId_x                           3567
movieId_y                           3719
userId                                 1
count                                  1
lift                              176652
title_x                Bossa Nova (2000)
title_y      Love's Labour's Lost (2000)
Name: 3531340, dtype: object

# Ok, that's it. 

Please complete the [Moodle feedback quiz](https://moodle.gla.ac.uk/mod/feedback/view.php?id=1441777) for this lab.